<!DOCTYPE html>
<!-- 
    File Name: template_inheritance_base.html 
    Desc:      This is the base template HTML,
               This HTML can be inherited in the Callers
-->

<html>
<title>Django Template Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

{% block content %}{% endblock %}

</body>
</html>
